NODE_ENV=development

DATABASE=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.lbowz.mongodb.net/Expense-tracker?retryWrites=true&w=majority&appName=Cluster0
DATABASE_PASSWORD=<PASSWORD>
PORT=3000

JWT_SECRET = <JWT_SECRET>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

FRONTEND_URL=http://localhost:5173