@import "tailwindcss";

@layer theme {
  :root {
    --COLOUR-ALICEBLUE: #f0f8ff;
    --COLOUR-PRIMARY-WHITE: #ffffff;
    --COLOUR-PEARL: #fcfcf7;
    --COLOUR-BRIGHTGRAY: #414345;
    --COLOUR-DARKGRAY: #232526;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
