@import "tailwindcss";

@theme {
  --color-alice-blue: #f0f8ff;
  --color-pearl: #fcfcf7;
  --color-bright-gray: #414345;
  --color-dark-gray: #232526;
  --color-parachment: #fbf5df;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
